body{
  margin:0;
  font:normal 75% Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
}

canvas{
  display: block;
  vertical-align: bottom;
}

#particles-js{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #20081b;
  background-image: url("Trees-Landscape-Silhouette.png");
  /*background-image: url("https://i.imgur.com/E6kBKHI.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats, .count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

.homeScreenButton{
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-family: "Silkscreen", sans-serif;
  border-radius: 0 0 0 0;
  padding: 10px;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
}

.homeScreenButton2{
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-family: "Silkscreen", sans-serif;
  border-radius: 0 0 0 0;
  padding: 10px;
  color: white;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
}

.homeScreenButton:hover{
  color: grey;
  border: 0;
}

.socialMedia{
  display: inline-grid;
  margin-top: 2%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.twitch{
    background-image: url("twitch.svg");
    background-color: transparent;
    border: none;
    background-size: cover;
    height: 50;
    width: 50;
}

.discord{
    background-image: url("discord_icon.png");
    background-color: transparent;
    border: none;
    background-size: cover;
    height: 50;
    width: 50;
}
